@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Zubajda";
  src: url("/fonts/zubajda.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.bg-gif1 {
  background: url("/gifs/bgGif1.gif") no-repeat center center;
  background-size: cover;
}
.bg-gif2 {
  background: url("/gifs/bgGif2.gif") no-repeat center center;
  background-size: cover;
}
.bg-gif3 {
  background: url("/gifs/bgGif3.gif") no-repeat center center;
  background-size: cover;
}
.bg-gif4 {
  background: url("/gifs/bgGif4.gif") no-repeat center center;
  background-size: cover;
}
.bg-gif5 {
  background: url("/gifs/bgGif5.gif") no-repeat center center;
  background-size: cover;
}

.bg-summer {
  background: url("/icons/background_summer.jpg");
}
